<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Doctors</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            white-space: pre-wrap; /* ให้ข้อมูลขยายเมื่อมีข้อมูลมาก */
        }

        th {
            background-color: #f2f2f2;
        }

        .actions {
            display: flex;
            gap: 5px;
        }
    </style>
</head>


<body>
    <h1>View Doctors</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
        </tr> 
        <% for (var i = 0; i < Doctors.length; i++) { %>
            <tr>
                <td><%= Doctors[i].ID %></td>
                <td><%= Doctors[i].Name %></td>
                <td><%= Doctors[i].Department %></td>
                <td class="actions">
                    <a href="/Doctor/<%= Doctors[i].ID %>">View</a>
                    <a href="/updateDoctor/<%= Doctors[i].ID %>">Update</a>
                    <a href="/deleteDoctor/<%= Doctors[i].ID %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/createDoctor">Create New Doctor</a>
    <br>
    <a href="/Patients" class="create-link">View Patients</a>
    <br>
    <a href="/" class="create-link">View Hospitals</a>
</body>
</html>