<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor Information</title>
    <!-- <link rel="stylesheet" href="../css/style.css" > -->
</head>
<style>
    body {
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        white-space: pre-wrap; /* ให้ข้อมูลขยายเมื่อมีข้อมูลมาก */
    }

    th {
        background-color: #f2f2f2;
    }

    .actions {
        display: flex;
        gap: 5px;
    }
</style>


<body>
    <h1>Doctor Information</h1>
    <table class="Doctor-table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tr>
        <td><%= Doctor.ID %></td>
        <td><%= Doctor.Name %></td>
        <td><%= Doctor.Department %></td> 
    </tr>
</table>
<div class="link-center">
    <a href="/updateDoctor/<%= Doctor.ID %>">Edit</a>
    <a href="/updateDoctor/<%= Doctor.ID %>">Delete</a>
    <a href="/Doctors">Back to List</a>
</div>
</body>
</html>