
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Hospital</title>
    <link rel="stylesheet" type="text/css" href="/css/update.css" />
</head>


<body>
    <h1>Update Hospital</h1>
    <form method="post" action="/updateHospital/<%= Hospital.DoctorID %>">
        <label for="DoctorID">DoctorID</label>
        <input type="text" id="DoctorID" name="DoctorID" value="<%= Hospital.DoctorID %>">
        <br>
        <label for="PatientID">PatientID</label>
        <input type="text" id="PatientID" name="PatientID" value="<%= Hospital.PatientID %>">
        <br>
        <input type="submit" value="Update">
    </form>
    <br>
    <div>
        <a href="/Hospital/<%= Hospital.Name %>" class="link-center">View</a>
        <a href="/DeleteHospital/<%= Hospital.Name %>" class="link-center">Delete</a>
        <a href="/" class="link-center">Back to List</a>
    </div>

</body>
</html>