
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Patient</title>
    <!-- <link rel="stylesheet" href="../css/style.css" > -->
</head>
<body>
    <h1>Update Patient</h1>
    <form method="post" action="/updatePatient/<%= Patient.ID %>">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" value="<%= Patient.Name %>">
        <br>
        <label for="Disease">Disease</label>
        <input type="text" id="Disease" name="Disease" value="<%= Patient.Disease %>">
        <br>
        <label for="Symptoms">Symptoms</label>
        <input type="text" id="Symptoms" name="Symptoms" value="<%= Patient.Symptoms %>">
        <br>
        <input type="submit" value="Update">
    </form>
<a href="/Patient/<%= Patient.ID %>">View</a>
<a href="/DeletePatient/<%= Patient.ID %>">Delete</a>
<a href="/Patients">Back to List</a>
</body>
</html>